/* 
	Magic~
*/
.eten-container{
  padding-left: 10%;
  padding-right: 10%;
}
html, body{
	height: 100%;
	background-color: #fff;
}
.eten-brand{
	color: #426D85;
  float: left;
}
a, a:hover, a:active, a:visited, a:link{
  text-decoration: none;
}


/*
	Fonts
*/
p{
  font-size: 16px;
}
h3{
  margin:10px 0px;
}
h5, .h5{
	font-weight: 200;
}
.jumbo-info p{
  font-weight: 200;
  color: #fff;
  text-align: center;
}
.jumbo-info p.lead{
  font-weight: 500;
  font-size: 3em;
}
.jumbo-info p.sublead{
  color: #eee;
}
/*

*/
.item-clickable{
  cursor: pointer;
}

/*
  Inner pages stuf
*/
.title{
  text-align: center;
}
.col-md-6 p{
  text-align: left;
}
.col-md-6 img {
  width: 70%;
  border:3px solid #ccc;
  background-color:#fff;
  border-radius: 25px;
  margin: 0px auto;
}
.project{
  margin: 0px auto;
}
.row{
  margin-bottom: 1.5em;
}
.col-md-4 h4{
  margin-top: 11em;
  color: #426D85;
  font-weight: 200;
}
.col-md-4 img {
  float: left;
  /*height: 100%;*/
  width: 100%;
  display: inline-block;
  border:1px solid #848484;
  background-color:#fff;
  border-radius: 0px;
  margin: 0px auto;
}
/*
  Footer
*/
footer{
  text-align: center;
  color: #aaa;
}
footer a{
	color: #888;
}
footer a:hover{
	color: #444;
}

/*
	overwritting some default boostrap stuff
*/
.jumbotron{
  min-height: 500px;
  background-color: #426D85;
}

/*
  Navbar
*/
.container-fluid>.navbar-header{
  margin-right: 10%;
}
.navbar-toggle{
  position: absolute;
  right:15px;
  top:0px;
}
.navbar-default .navbar-nav>li>a{
  color: #426D85;
}
.navbar-default .navbar-toggle .icon-bar{
  color: #426D85;
}
/*
 * Cover-style bootstrap Base structure
 */

.site-wrapper {
  margin-top: 50px;
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

/* It's a line */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
